body {
    font-family:'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 80px;
    color:white;
    margin: 7% 0% -5% 7%;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 300px;
    text-align: center;
}

/* ------------------------------------------------------- navbar ----------------------------------------------------------*/

.c-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 10em 0.5em 10em;
}

.c-nav__menu {
    list-style: none;
    display: flex;
}

.c-nav__underline {
    border-bottom: 3px solid #DB7A4E;
}

.c-nav__logo {
    font-size: 19px;
    color:#335576;
    font-weight: 700;
}

li:hover a {
    border-bottom: 3px solid #DB7A4E;
    transition: 200ms;
}

a {
    padding: 10px 15px;
    text-decoration: none;
    color:black;
}

/* ------------------------------------------------------- travel section ----------------------------------------------------------*/


#hawaii {
    background-image: url(/assets/images/hawaii.jpg);
}

#iceland {
    background-image: url(../assets/images/iceland.jpg);
}

#greece {
    background-image: url(../assets/images/greece.jpg);
}

.c-background {
    background-size:initial;
    background-repeat: no-repeat;
    padding: 5px 15px 5px 15px;
    height: 900px;
    color:rgb(0, 0, 0);
    background-position: center; 
} 

.c-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.c-gallery__card {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-size: cover;
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 2%;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.c-gallery__card p {
    background-color: #FEFAF5;
    width: 80%;
    height: 3em;
    padding-top: 0.5em;
    text-align: center;
}

/* ------------------------------------------------------- footer ----------------------------------------------------------*/

.c-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FEFAF5;
    flex-wrap: wrap;
  }
  
  .c-footer p {
    font-size: 19px;
    margin-right: 10px;
  }
  
  .c-footer img {
    width: 20px;
  }
  
  .c-footer__groups {
    margin: 1em;
  }
  
  .info {
    display: inline-block;
    margin-top: 0px;
  }
  
  .info h4 {
    color:#DB7A4E;
    font-size: 12px;
  }
  
  .c-footer__socials {
    margin-top: 1.5%;
  }
  
  .c-footer__socials h2 {
    margin-bottom: 33%;
  }
  
  #facebook {
    width: 12px;
  }
  
/* ------------------------------------------------------- responsive ----------------------------------------------------------*/

@media screen and (max-width: 1530px) {
    .c-background {
        text-align: center;
        height: 1200px;
    }
    h1 {
        margin: 10% 0 0 0;
    }
    .c-nav {
        justify-content: center;
    }
}
  
@media screen and (max-width: 935px) {
    .c-footer {
        justify-content: left;
    }
}

@media screen and (max-width: 747px) {
    .c-background {
        height: 1600px;
    }
    #iceland__black {
        color:black;
    }
}

@media screen and (max-width: 414px) {
    .c-nav a {
      font-size: 14px;
      padding: 5px 5px;
    }
  
    .c-footer {
        padding-bottom: 100px;
    }

    .c-gallery__card {
        height: 350px;
        width: 200px;
        margin: 2% 2% 10% 2%;
    }

    h3 {
        width: 180px;
    }

    .c-gallery__card p {
        font-size: 14px;
        width: 80%;
    }
  
    .c-hero__info h1 {
      font-size: 22px;
    }
  
    .c-hero__info p {
      font-size: 12px;
    }
  
    .c-footer__socials {
      margin-top: 1.5%;
    }
    
    .c-footer__socials h2 {
      margin-bottom: 10%;
    }
}

@media screen and (max-width: 321px) {
    .c-nav {
        padding: 0.5em 8em 0.5em 8em;
    }
    .c-nav a {
        font-size: 12px;
    }
}

@media screen and (max-width: 280px) {
    .c-background h1 {
        font-size: 55px;
    }

    .c-gallery__card {
        margin: 2% 2% 40% 2%;
    }

    .c-footer h4 {
        font-size: 8px;
    }

    .c-footer p {
        font-size: 12px;
    }
}