body {
    font-family:'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 80px;
    color:white;
    margin: 7% 0% -5% 7%;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 300px;
    text-align: center;
}

/* ------------------------------------------------------- navbar ----------------------------------------------------------*/
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 10em 0.5em 10em;
}

ul {
    list-style: none;
    display: flex;
}

li:hover a {
    border-bottom: 3px solid #DB7A4E;
}

a {
    padding: 10px 15px;
    text-decoration: none;
    color:black;
}

.travel-site {
    font-size: 19px;
    color:#335576;
    font-weight: 700;
}

/* ------------------------------------------------------- travel section ----------------------------------------------------------*/


#hawaii {
    background-image: url(/assets/images/hawaii.jpg);
}

#iceland {
    background-image: url(../assets/images/iceland.jpg);
}

#greece {
    background-image: url(../assets/images/greece.jpg);
}

.country {
    background-size:initial;
    background-repeat: no-repeat;
    padding: 5px 15px 5px 15px;
    height: 900px;
    color:rgb(0, 0, 0);
    background-position: center; 
} 

.recommend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-size: cover;
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 2%;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.card p {
    background-color: #FEFAF5;
    width: 80%;
    height: 3em;
    padding-top: 0.5em;
    text-align: center;
}

/* ------------------------------------------------------- footer ----------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FEFAF5;
    flex-wrap: wrap;
}

footer p {
    font-size: 19px;
}

footer img {
    width: 20px;
}

footer div {
   margin: 1em;
}

.info {
    display: inline-block;
    margin-top: 0px;
}

.info h4 {
    color:#DB7A4E;
    font-size: 12px;
}

.socials {
    margin-top: 1.5%;
  }
  
  .socials h2 {
    margin-bottom: 23%;
  }
  
  #facebook {
    width: 12px;
  }
  
/* ------------------------------------------------------- responsive ----------------------------------------------------------*/

@media screen and (max-width: 1530px) {
    .country {
        text-align: center;
        height: 1200px;
    }
    h1 {
        margin: 10% 0 0 0;
    }
    .navbar {
        justify-content: center;
    }
    
  }

  @media screen and (max-width: 747px) {
    .country {
        height: 1600px;
    }
  }

  @media screen and (max-width: 414px) {
    footer {
        flex-direction: column;
        justify-content: center;
        background-color: #FEFAF5;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .navbar a {
        font-size: 14px;
        padding: 5px 5px;
    }



    
    
  }