  body {
    font-family:'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    display: flex;
  }

  li:hover a {
    border-bottom: 3px solid #DB7A4E;
  }

  a {
    padding: 10px 15px;
    text-decoration: none;
    color:black;
  }

  button {
    height: 40px;
    width: 160px;
    border-radius: 50px;
    background-color: #DB7A4E;
    color: white;
    border:none;
    margin-top: 3%;
    font-size: 12px;
}

  button:hover {
    cursor: pointer;
 }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 10em 0.5em 10em;
  }

  .hero {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10em 0em 10em 25em;
    background-color: #FEFAF5;
  }

.hero img {
    width: 60%;
}

.travel {
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 10%;
}

.travel p {
    margin: 5px;
}

.card {
    display: flex;
    justify-content: right;
    align-items:end;
    background-size: cover;
    height: 500px;
    width: 300px;
    margin: 2%;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color:white;
}

#hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}

#iceland {
    background-image: url(../assets/images/iceland.jpg);
}

#greece {
    background-image: url(../assets/images/greece.jpg);
}

h2 {
    margin-left: 8%;
}

.recommend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FEFAF5;
}

footer p {
    font-size: 19px;
}

footer img {
    width: 20px;
}

footer div {
   margin: 1em;
}

.info {
    display: inline-block;
    margin-top: 0px;
}

.info h4 {
    color:#DB7A4E;
    font-size: 12px;
}

.hours {
    display: flex;
    flex-direction: row;
}